# build outputs
build-win/
build-android/
android/.gradle/
android/app/build/
android/app/.cxx/
android/gradle.log
android/gradle-*.log
android/*.log
android/local.properties
android/keystore.properties
*.jks
*.keystore
build.log

# original game data (Copyright Epsitec SA) — supply your own copy, see README
android/app/src/main/assets/data/

*.obj
*.o
*.exe
*.apk
